{% extends "appcosecha/padre.html " %}
{% load static %}
{% block contenidoquecambia %}
Aqui estara la informacion sobre nosotros!!!
{% endblock %}

{% block contenidoquecambia2 %}
Aqui va una pequeña descripcion sobre nosotros, nuestro local y.......... 


<p>
   experiencias que hemos vivido!!! 
</p>
<p>

</p>
<p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur nemo quo explicabo excepturi ullam. Ducimus, consequuntur illo. Alias amet fuga possimus mollitia laborum accusantium non, dolorem deleniti dignissimos blanditiis? Praesentium?
</p>







{% endblock %}