{% extends "appcosecha/padre.html " %}
{% load static %}
{% block contenidoquecambia %}
Aqui estara la informacion sobre nosotros!!!
{% endblock %}

{% block contenidoquecambia2 %}
Aqui va una pequeña descripcion sobre nosotros..... nuestro local o lo que fue nuestro local, hoy en dia tuvimos que cerrar las puertas para enfocarnos en la parte digital


<p>
   Una de las cosas que siempre quisimos fue ofrecer productos de excelente calidad al mejor precio del mercado para nuestros clientes.

   Tuvimos un local por casi 5 años, hoy en dia tuvimos que cerrar las puertas por distintas razones y queremos enfocarnos en la parte digital, ofrecieron los mismos productos con una excelente calidad pero a un mejor precio.
</p>








{% endblock %}